{{!< default}}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
    <header id="site-head" {{#if cover}}style="background-image: url({{cover}})"{{/if}}>
        <div class="vertical">
        <div id="site-head-content" class="inner">
    <a id="blog-logo" href="{{@blog.url}}">
                 {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            </a>
        <h1 class="blog-title"><i class="fa fa-user"></i> {{name}}</h1>
        <h2 class="blog-description">{{bio}}</h2>
        <span class="author-stats"><i class="fa fa-archive"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
            
            <div id="search">
        <form>
    <i class="fa fa-tags"></i>  <input class="post-meta" id="search-field" placeholder=" looking for something?" />
        </form>
        <div class="post-meta" id="results"></div>
        </div>
            </div>
            <a class="fa fa-chevron-down" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
                </div>
    
    </header>

{{/author}}

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    <div class='fixed-nav'>
      <a class="social" href="/about-this-blog" alt="Blog Info"><span class="fa-stack fa-lg">
	<i class="fa fa-square-o fa-stack-2x"></i>
	<i class="fa fa-question fa-stack-1x"></i>
      </span></a>
      <a id="totop-arrow"><span class="fa-stack fa-lg">
	<i class="fa fa-square-o fa-stack-2x"></i>
	<i class="fa fa-angle-up fa-stack-1x"></i>
      </span></a>
    </div>

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
