<!DOCTYPE html>
<html lang="it">
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="google-site-verification" content="A0klayKJLfPDH_JrmZZ9VueT8Uggj7T68iM0t1t6gkA" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}" />
    <meta name="description" content="{{meta_description}}" />
    <meta name="keywords" content="howto, come fare, web, backup, BitSync, OSMC, KODI, raspberry pi, cryptocurrency, KANO, linux" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Oswald:300|Roboto+Slab:400,300,100,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "font-awesome/css/font-awesome.min.css"}}" >
    <link rel="stylesheet" type="text/css" href="{{asset "css/search.css"}}" >

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a><br>
        <div class="inner">
             <section class="copyright"><a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
             <section class="poweredby"><a href="https://github.com/zebheone/GhostScroll">Purple Slimer</a> theme by <a href="http://twelvepurplepills.com">Albi</a>. <br>
             Proudly published with <a class="i-ghost" href="http://ghost.org">Ghost</a><br><span><br>

              </section>
        </div>
    </footer>

    {{! The main JavaScript file for GhostScroll }}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src= "{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src= "{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src= "{{asset "js/ghostHunter/jquery.ghostHunter.min.js"}}"></script>
    <script type="text/javascript" src= "{{asset "js/search.js"}}"></script>
    <script type="text/javascript" src= "{{asset "js/dsq_comments_count.js"}}"></script>
    
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>

