{{!< default}}

{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{! The big featured header on the homepage, with the site logo and description }}
<header id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div id="site-head-content" class="inner">
        <a id="blog-logo" href="{{@blog.url}}">
                {{#if @blog.logo}}
                    <img src="{{@blog.logo}}" alt="Back to home" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </a>
            <h1 class="blog-title">{{code}} — {{message}}</h1>
             <h2 class="blog-description"><i class="fa fa-hand-peace-o"></i> you found a {{code}} page<h2>
        
            </div>
                </div>
</header>
<main id="content" class="content" role="main">

</main>